{% extends 'base.jinja2' %}
{% block content %}
    <h1>Welcome To Your Blog</h1>
    <ul>
        {% for post_id, post in posts.items() %}
            <li><a href="{{ url_for('post', post_id=post_id) }}">{{ post['title'] }}</a></li>
        {% endfor %}
    </ul>
    <p><b>To Create a Post</b></p>
    <a href="{{ url_for('create') }}">Click Here</a>  
{% endblock %}
